#nav {
        text-align: left;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
}

#menu, #menu ul { /* toutes les listes */
        padding: 0;
        margin: 0;
        list-style: none;
        /*line-height: 1;*/
}

#menu a {
        text-align: center;
        display: block;
        width: 120px;
}

#menu li { /* tous les items de liste */
        float: left;
        width: 124px; /* largeur obligatoire, sinon opera devient fou */
}

#menu li ul { /* listes de deuxième niveau */
        position: absolute;
        width: 124px;
        left: -999em; /* on met left plutôt que display pour cacher les menus parce que display: none n'est pas lu par les lecteurs d'écran */
}

#menu li:hover ul, #menu li.sfhover ul { /* listes imbriquées sous les items de listes survolés */
        left: auto;
}

#menu a, #menu a:visited, #menu a:active {
        background-color: #dcb;
        border:1px #666 solid;
        color:#000;
        text-decoration:none;
        padding:3px 0;
}

#menu a:hover {
        background-color: #eee;
        border:1px #aaa solid;
        color:#000;
}

#menu li a {
        font-weight: bold;
}

#menu li li a {
        font-weight: normal;
}
#content {
        clear: left;
        margin-top: 3em;
}
